body{
    background-color:#E9B872;
}


a{
    text-decoration: none;
}

// esto es header
header {
    div {
        .TituloArriba {
            font-size: 100px;
            background-color: rgba(0, 0, 0, 0.205);
            background: linear-gradient(to top, #E9B872, white);
            display: flex;
            border: inset;
            justify-content: center;
            overflow: auto;

            &:hover {
                transform: scale(1.1, 1.1)
            }
        }
    }
}

nav {
    .ListaMenu {
        font-size: 30px;
        display: flex;
        justify-content: space-evenly;
        border: groove;
    }

    li {
        list-style: none;
        border: inset;
    }
}

// esto es main de index
main {
    section {
        h1 {
            text-align: center;

            .tituloPrimeraPag {
                text-align: center;
                margin: 10px;
                border: groove;

                p {
                    text-align: center;

                    .SubTitulo {
                        margin: 10p;

                        section {
                            h2 {
                                text-align: center;

                                .tituloPrimeraPag {
                                    text-align: center;
                                    margin: 10px;
                                    border: groove;

                                    p {
                                        text-align: center;

                                        .SubTitulo {
                                            margin: 10p;

                                            img {
                                                .ImagenProducto {
                                                    border: double;
                                                    height: 10rem;
                                                    transition: 1s;

                                                    &:hover {
                                                        transform: scale(1.2, 1.2);

                                                        section {
                                                            h3 {
                                                                font-size: 30px;

                                                                div {
                                                                    a {
                                                                        text-decoration: none;

                                                                        .LinkParaSucursales {
                                                                            margin: 25rem;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// esto es el footer

h4 {
    font-size: 30px;
    display: flex;
    justify-content: center;

    .tituloPrimeraPag {
        text-align: center;
        margin: 10px;
        border: groove;
        p{
            text-align: center;
            .PerfilFacebook{
                font-size: 50px;
            }
        }
    }
}